# dependencies
.pnp
.pnp.js
node_modules
package-lock.json
yarn.

# build
build
lib
out/

# testing
coverage

# next.js
.next/

# misc
.DS_Store
*.pem
.vscode

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# turbo
.turbo
